body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.main{
    
}
.upperNavBar{
    /* background-color: rgb(171, 233, 239); */
    display: flex;
    padding: 0.8rem 0;
    align-items: center;
    
}

.upperNavBar .roopya-logo-container{
    flex-basis: 16.5rem;
    border-right: 1px solid #DEDEDE;
}

.upperNavBar .navbar-search-box{
    flex-basis: 20rem;
    padding-left: 1rem;
}

.upperNavBar .navbar-profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-basis: 50rem;
}


.dashboardMenu {
    min-height: 100vh;
    overflow: hidden;
    width: 16.5rem;
}

.sidebar {
    height: 100vh;
    background-color: #2B378D;
    box-shadow: 2px 0px 30px rgba(196, 196, 196, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    list-style-type: none;
    height: 4rem;
    line-height: 1rem;
    width: 100%;
    display: flex;
    border-radius: 12px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.sidebar ul li a {
    padding-left: 1.4rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;

}

.sidebar ul li a span {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.875rem;
}

.sidebar ul li a i {
    min-width: 3rem;
    border-radius: 12px;
}

.sidebar ul li:hover {
    background-color: rgba(139, 167, 252, 0.2);
}


.sidebar .roopya_money_text_on_NavMenu {
    color: #FFFFFF;
    padding-left: 1.4rem;
    padding-right: 1rem;
}

.sidebar .roopya_money_text_on_NavMenu .roopya_text {
    font-weight: 500;
    font-size: 16px;
}

.sidebar .roopya_money_text_on_NavMenu .powerful_and_easy {
    font-size: 12px;
}

